* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  --main-color: rgb(79, 38, 225);
  --primary-color: rgb(255, 255, 255);
  --shadow-color: rgb(239, 239, 239);
  --accent-color: rgb(255, 234, 0);
  --badge-shadow: rgb(254, 244, 124);
  --page-background-color: rgb(255, 255, 255);
  --page-text-color: rgb(79, 38, 225);
  color: var(--main-color);
  margin: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: rgb(79, 38, 225);
    --page-text-color: rgb(255, 255, 255);
  }
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

h1 {
  letter-spacing: 0.25em;
  font-size: 2.5rem;
}

h3 {
  font-family: "Roboto", sans-serif;
}

/*   *::selection --> Schriftauswahl farbig / interessanter */
*::selection {
  background-color: var(--main-color);
  color: var(--primary-color);
}
/****************Specific Stylings ***********/

.header {
  padding: 3rem 1rem;
  _padding-top: 4.5rem;
  text-align: center;
  _background-color: var(--primary-color);
  background-image: linear-gradient(
    235deg,
    var(--primary-color),
    var(--shadow-color)
  );
  box-shadow: 0.5rem 0.9rem 1rem var(--shadow-color);
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: "  🎉";
}

.header-badge {
  position: absolute;
  right: 1.1rem;
  top: 1.1rem;
  _aspect-ratio: 1; /* wird nicht blau weil relativ neu */
  border-radius: 100%;
  background-color: var(--accent-color);
  font-style: oblique;
  padding: 1.5rem;
  box-shadow: 0.5rem 0.8rem 1rem var(--badge-shadow);
}

@media screen and (min-width: 992px) {
  .header-badge {
    position: fixed;
  }
}

@media print {
  .header-badge {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  color: var(--main-color);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.3rem;
}

.nav-link:visited {
  text-decoration: line-through;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:active {
  text-decoration: line-through;
}

.nav-link + .nav-link {
  margin-left: 1rem;
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.05rem solid var(--main-color);
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1.3rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

.experience-heading {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.experience-subheading {
  display: inline-block;
}

.contact-link {
  color: var(--main-color);
}

.footer {
  margin-top: 3rem;
  background-color: var(--accent-color);
  padding: 2rem;
}

.footer-text {
  text-align: center;
  margin: 0;
}

.footer-link {
  color: var(--main-color);
}

.copyright {
  text-align: left;
  _margin-top: 3rem;
  font-size: smaller;
}
